body {
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fa;
  margin: 0;
}

.header {
  background: #b71c1c;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions select,
.actions button {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
}

.actions button {
  background: white;
  cursor: pointer;
}

table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead {
  background: #a31d1d;
  color: white;
}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}
